@import url(variables.css);

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	/* min-height: 100vh; */
	background-color: var(--body-background);
	color: #b3d1e3;
	box-sizing: border-box;
}

.layout {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	justify-content: center;
	justify-content: center;
	align-items: flex-start;
}

.page {
	/* display: grid; */
	/* grid-template-rows: 1fr auto; */
	background-color: var(--mezzo-dark-color);
	width: var(--page-width);
	max-width: var(--page-width);
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.filesInputFlip {
	flex-wrap: unset;
}

.player {
	width: 100%;
	max-width: var(--page-width);
}

.appTitleVisibility {
	display: block;
}

@media (max-width: 798) {
	.filesInputFlip {
		flex-wrap: wrap;
	}

	.page {
		/* width: 100vw; */
		width: unset;
		box-shadow: none;
	}
}

@media (max-width: 399px) {
	.filesInputFlip {
		flex-wrap: wrap;
	}
	
	.appTitleVisibility {
		display: none;
	}

	.page {
		/* width: 100vw; */
		width: unset;
		box-shadow: none;
	}
}

textarea {
	font-family: inherit;
	/* Inherit the font from the parent element */
	letter-spacing: inherit;
	/* Inherit the letter spacing from the parent element */
	font-size: medium;
	background-color: var(--mezzo-dark-color);
	color: var(--input-color);
	border: none;
}

button {
	font-family: inherit;
	letter-spacing: inherit;
	background: var(--button-background);
	color: var(--button-color);
	border: none;
	font-size: var(--button-font-size);
	padding: 0px 12px 3px 12px;
	height: 39px;
	width: 50px;
	min-width: 43px;
	margin: 0px;
	color: var(--dark-color)
}

button:hover {
	padding: 1px 13px 2px 11px;
	/* color: var(--editor-color) */
}

button:active {
	padding: 1px 11px 2px 13px;
	background: var(--button-active-background);
}

button:disabled {
	background: none;
	background-color: #88a290;
	cursor: progress;
}

.redButton {
	padding: 0px 12px 3px 12px;
	color: var(--red-color)
}

.redButton:hover {
	padding: 1px 13px 2px 11px;
	/* color: var(--editor-color) */
}

.redButton:active {
	padding: 1px 11px 2px 13px;
	background: var(--button-active-background);
}

.blueButton {
	padding: 0px 12px 3px 12px;
	color: var(--blue-color)
}

.blueButton:hover {
	padding: 1px 13px 2px 11px;
	/* color: var(--editor-color) */
}

.blueButton:active {
	padding: 1px 11px 2px 13px;
	background: var(--button-active-background);
}

.yellowButton {
	padding: 0px 12px 3px 12px;
	color: var(--yellow-color)
}

.yellowButton:hover {
	padding: 1px 13px 2px 11px;
	/* color: var(--editor-color) */
}

.yellowButton:active {
	padding: 1px 11px 2px 13px;
	background: var(--button-active-background);
}

.whiteButton {
	padding: 0px 12px 3px 12px;
	color: var(--cloneedit-color)
}

.whiteButton:hover {
	padding: 1px 13px 2px 11px;
	/* color: var(--editor-color) */
}

.whiteButton:active {
	padding: 1px 11px 2px 13px;
	background: var(--button-active-background);
}

.smileyButton {
	padding: 0px 12px 3px 12px;
}

.smileyButton:hover {
	padding: 1px 13px 2px 11px;
}

.smileyButton:active {
	padding: 1px 11px 2px 13px;

}

input,
select {
	font-family: inherit;
	/* Inherit the font from the parent element */
	letter-spacing: inherit;
	/* Inherit the letter spacing from the parent element */
	font-size: medium;
	background-color: var(--input-color);
	color: var(--dark-color);
	border: none;
	padding-left: 6px;
	min-width: unset;
	height: 39px;
}

select option {
	font-family: inherit;
	letter-spacing: inherit;
	font-size: medium;
	background-color: var(--bright-color);
	color: var(--dark-color);
}

label {
	color: var(--dark-color);
	pointer-events: none;
}

input:disabled {
	background-color: var(--bright-color);
	cursor: progress;
}

input:focus,
textarea:focus {
	outline: none;
	/* Remove the focus border */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: inherit;
	margin: 0;
	padding: 0;
	letter-spacing: inherit;
	/* Inherit the letter spacing from the parent element */
}

p {
	font-size: normal;
}

a {
	color: var(--cloneedit-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: var(--cloneedit-color);
	text-decoration: none;
}

a:visited {
	color: var(--cloneedit-color);
}

a:focus {
	outline: none;
	/* Remove the focus border */
}

/* td with orientation top : */
td {
	text-align: left;
	vertical-align: top;
}