:root {
	--body-background: #144e32;
	--bright-color: #b3d1e3;
	--button-active-background: linear-gradient(to top left, #79919e, #8ea8b8);
	--button-background: linear-gradient(to top left, #a8c7d8, #b4d4e8);
	--button-color: #09182a;
	--button-font-size: 17px;
	--dark-color: #1d1a22;
	--cloneedit-color: #bbe5ffff;
	--clone-font-size: 18;
	--editor-font-size: 22;
	--editor-color: #d6efffff;
   --effect-editor-background: linear-gradient(to top, #6e7678ff, #647171ff);
	--input-color: #d4d8d1ff;
	--material: linear-gradient(to right, #5d7c8fff, #6ba2c6ff);
	--mezzo-dark-color: #696e7eff;
	--editor-backround: linear-gradient(to top, #47556b, #fff2db);
	--material-median: #638da8;
	--page-width: 824px;
	--red-color: #a43434ff;
	--blue-color: #3457a4ff;
	--yellow-color: #a48a34ff;
}